  .buttonStyle{
  border: none;
  padding: 8px 16px;
  border-radius:25px;
  cursor: pointer;
  transition: 0.3s;
  color: white;
  background-color: #3cd17f;
  margin-bottom: 15px;
  width: 11rem;
  height: 2.5rem;
  
  }

  .buttonStyleDark{
    border: none;
    padding: 8px 16px;
    border-radius:16px;
    cursor: pointer;
    transition: 0.3s;
    color: black;
    border: 1px solid black;
    background-color: transparent;
    margin-bottom: 15px;
    width: 11rem;
    height: 2.9rem;

    }

    .buttonStyleWhite {
        border: none;
        padding: 8px 16px;
        border-radius:16px;
        cursor: pointer;
        transition: 0.3s;
        color: white;
        border: 1px solid white;
        background-color: transparent;  
        margin-bottom: 15px; 
        width: 14rem;
        height: 2.8rem;

    }

    .buttonStyle:hover {
      color: #fff;
      background: #333333;
    }

    .buttonStyleWhite:hover {
      color: #fff;
      background: #333333;
    }

    .buttonStyleDark:hover {
      color: #fff;
      background: #333333;
    }